
body {
    background-color: #0b0c10;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    padding-top: 100px;
}
h1 {
    color: gold;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    font-weight: bold;
}
nav a:hover {
    color: gold;
}
